<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>연습!</title>
	</head>
	<body>
		[[${memberJoin.userId}]]
		<th:block th:object="${memberJoin}">
			<dl>
				<dt th:text="#{member.userId}"></dt>
				<dd th:utext="*{userId}"></dd>
			</dl>
			<dl>
				<dt th:text="#{member.userPw}"></dt>
				<dd th:text="*{userPw}"></dd>
			</dl>
			<dl>
				<dt th:text="#{member.userNm}"></dt>
				<dd th:text="*{userNm}"></dd>
			</dl>

			<a href="#" th:href="@{/member/login(param1=*{userNm}, param2='abc')}">로그인</a>
			<a href="#" th:href="@{/member/{id}(id=*{userPw})}">회원!</a>
		</th:block>
	</body>
</html>
