<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	
	<main layout:fragment="content">
	
		<form method="get" th:action="@{/members2}" th:object="${memberSearch}">
			<input type="text" name="sdate" th:field="*{sdate}">
			<span th:each="err : ${#fields.errors('sdate')}"></span>
			
			<input type="text" name="edate" th:field="*{edate}">
			<span th:each="err : ${#fields.errors('edate')}"></span>
			<button type="submit">검색하기</button>
		</form>
		
		<table border='1'>
			<thead>
				<tr>
					<th>회원번호</th>
					<th>아이디</th>
					<th>회원명</th>
					<th>가입일시</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member : ${members}" th:object="${member}">
					<td th:text="*{userNo}"></td>
					<td th:text="*{userId}"></td>
					<td th:text="*{userNm}"></td>
					<td th:text="*{#temporals.format(regDt, 'yy.MM.dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>
	
	</main>
</html>