<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>exam01.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>filterEx1</filter-name>
		<filter-class>exam01.FilterEx1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filterEx1</filter-name>
		<url-pattern>/board</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>filterEx2</filter-name>
		<filter-class>exam01.FilterEx2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filterEx2</filter-name>
		<url-pattern>/board</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>commonFilter</filter-name>
		<filter-class>exam01.CommonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>commonFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>